<div class="banner" style="background-color:gray" >

  <div class="container-content-box">
    <div class="container-1">
      <h1>Get coffinated and get going</h1>
      <p>Find us end get your daily dose of goods vibes ... and dare we say it, even better coffee!</p>
    </div>
    <div class="container-2" >
    </div>
  </div>

  <div class="scroll-promt">
    <i class="fas fa-arrow-alt-circle-down"></i>
    <h3>Learn more about us</h3>
  </div>
</div>

<div class="container-home-image-text-mood">
  <%= image_tag('get-gear-home.png') %>
  <div class="vision-and-mission">
    <div class="vision">
      <h2> Coffee & Gear:<br> 2 Things we love</h2>
    </div>
    <div class="mission-stament">
      <p>We want to build a community around a common love for coffee, cycling, and a passion for uniting like-hearted people.</p>
      <p>If either or any of these points hit home, you should definetly come around for sip of coffee ... or go on a ride with us!</p>
    </div>
  </div>
</div>

<div class="container-action">
  <div class="call-to-action">
    <p class="call-description">Ready to go on a ride with us?</p>
    <p>At each of our locations, we go on regular rides. Check out previous rides or join our next session.</p>
    <hr>
    <%= link_to " Let's Ride!", "#", class:"button button-action"  %>
  </div>
  <div class="call-to-action">
    <p class="call-description">In need for some sweet coffeeination?</p>
    <p>Even if you are not close by - our selection of premium beans is just a click away.</p>
    <hr>
    <%= link_to "Get Coffee!", "#", class:"button button-action"  %>
  </div>
  <div class="call-to-action">
    <p class="call-description">All our of gear?</p>
    <p>We work with amazing brands, all of which we wear ourself and highly recommend. Have a look yourself.</p>
    <hr>
    <%= link_to " Go Shop!", "#", class:"button button-action"  %>
  </div>
</div>

<div class="container">
  <div class="row justify-content-center">
    <div class="col-8">
      <%= "Lorem ipsum dolor sit amet, consectetur adipisicing elit " * 100 %>
    </div>
  </div>
</div>
